
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@700&display=swap');


* {
    margin :0;
    padding :0;
    box-sizing: border-box;
}


a {
    text-decoration:  none; 
 }

#container {
    margin : 0 auto;
    width : 1200px;
}

/* 헤더 영역 */
header {
    width :  100%;
    height : 100px;
    background-color: #07c;
}

/* 로고영역*/
#logo { 
    float : left;
    width : 250px;
    height:100px;
    line-height : 100px;
    padding-left:20px;
}

#logo h1 {
    font-family: 'Merienda', cursive;
    font-weight:700px;
    font-size:40px;
    color : #fff;
    text-shadow:0 -1px 0 #222;

}



/*네비게이션*/

nav{
    float:right;
    width : 900px;
    height: 100px;
    background-color: green;
}

/*슬라이드 쇼*/
#slideShow {
    clear : both;
    width : 100px;
    height:300px;
    background-color: orange;
    overflow: hidden ;
}
/*탭메뉴*/
#contents{
    width : 100%;
    height :300px;
}

#tabmenu {
    width :600px;
    height:100%;
    background-color: violet;
    float:left;
}
/*퀵메뉴*/
#links {
    float:right;
    width : 600px;
    height: 100%;
    background-color :skyblue;
   
}
footer {
    width : 100%;
    height: 100px;
    background-color: gray;
}
