* {
    box-sizing: border-box;
  }
  nav ul {
    list-style: block;      
  }
  nav ul li {
    width : 200px;
    display: inline-block;      
    padding: 10px;
    margin:5px 20px;
    border:1px solid rgb(167, 50, 50);
  }

  img {
    float: left;
    margin-right:40px;
  }

  body {background-color: rgb(194, 245, 182);
  }